In [1]:
from contextlib import contextmanager
import math
import os, os.path
import random
import sys
from tempfile import TemporaryDirectory

import dask.dataframe as dd
from dask.distributed import Client, LocalCluster
import matplotlib.pyplot as mp
import pandas as pd

for _ in range(2):
    try:
        from eai_graph_tools.datasets.lanl import DatasetLANL
        break
    except ImportError:
        sys.path.append(os.path.realpath(".."))
else:
    raise RuntimeError("Could not locate the repo's code.")

In [2]:
%matplotlib inline

In [3]:
%load_ext autoreload
%autoreload

Adjust the number of workers here to ensure you respect the limitations of your machine.

In [4]:
cluster = LocalCluster(n_workers=3, threads_per_worker=4, memory_limit="4.5GB")
client = Client(cluster)
client

Adjust the following path to direct the `DatasetLANL` instance to where you have Parquet stores of the dataset.

In [5]:
PATH_RAW = os.path.expanduser("~/los_alamos")
lanl = DatasetLANL(PATH_RAW)

# Context

Unit tests for graph creation require having a subset of the Los Alamos dataset. However, a purely random choice of this sample will yield, for any meaningful grouping of the events, groups containing a single event. This fails to provide a suitable dataset for this purpose.

We will thus make up a dataset with the same structure as the LANL dataset, but with a small number of records, and a small number of entities.

## Time

In [6]:
WIDTH_INTV_TIME = 100
NUM_INTV = 5
LIMIT_TIME = WIDTH_INTV_TIME * NUM_INTV

## Domain, users, computers, processes

In [7]:
NUM_DOMAINS = 1
DOMAINS = [f"DOM{n + 1}" for n in range(NUM_DOMAINS)]

NUM_USERS = 3
USERS = [f"USER{n + 1}@{dom}" for n in range(NUM_USERS) for dom in DOMAINS]

NUM_COMPUTERS = 5
COMPUTERS = [f"C{n + 1}" for n in range(NUM_COMPUTERS)]

NUM_PROCESSES = 7
PROCESSES = [f"P{n + 1}" for n in range(NUM_PROCESSES)]

## Analyzing categorical and numerical values for proportion mapping

In [8]:
def df_category(ddf, col):
    return ddf[col].reset_index().groupby(col).count().compute() \
        .rename(columns={"time": "count"}) \
        .sort_values(by="count", ascending=False)

def show_important_values(df, threshold=0.95):
    total = df["count"].sum()
    selection = df[total - df["count"].sort_values().cumsum() <= threshold * total].copy()
    captured = selection["count"].sum() / total
    selection["propn"] = selection["count"] / selection["count"].sum()
    display(selection)
    print(f"Captured: {100*captured:.02f}%")
    return selection

In [9]:
def df_integer(ddf, col):
    df = pd.DataFrame(ddf[col].reset_index().groupby(col).count().compute()) \
        .rename(columns={"time": "count"})
    df['propn'] = df['count'] / df['count'].sum()
    return df.sort_values(by="count", ascending=False)

## auth

In [10]:
lanl.ELEMENT["auth"]

{'columns': [('time', 'int64'),
  ('userdomain_source', 'category'),
  ('userdomain_destination', 'category'),
  ('computer_source', 'category'),
  ('computer_destination', 'category'),
  ('type_auth', 'category'),
  ('type_logon', 'category'),
  ('orientation_auth', 'category'),
  ('outcome_auth', 'category')],
 'labeled_by': [('redteam', 'is_attack', 'bool')]}

In [11]:
df_auth = lanl.element("auth")

### Type of authentication

In [12]:
df_type_auth = df_category(df_auth, "type_auth")

In [13]:
_ = show_important_values(df_type_auth)

/home/hamelin/.local/share/virtualenvs/eai-graph-tools-G8DIyAcw/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

               count     propn
type_auth
?          583283266  0.582635
Kerberos   362786806  0.362384
Negotiate   55042176  0.054981

Captured: 95.23%

### Type of logon

In [14]:
df_type_logon = df_category(df_auth, "type_logon")

In [15]:
_ = show_important_values(df_type_logon, 0.975)

/home/hamelin/.local/share/virtualenvs/eai-graph-tools-G8DIyAcw/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                count     propn
type_logon
Network     845601123  0.811730
?           147235515  0.141338
Service      48889990  0.046932

Captured: 99.09%

### Authentication orientation

In [16]:
df_orientation_auth = df_category(df_auth, "orientation_auth")

In [17]:
_ = show_important_values(df_orientation_auth, 1.0)

/home/hamelin/.local/share/virtualenvs/eai-graph-tools-G8DIyAcw/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                      count     propn
orientation_auth
LogOn             468112703  0.445268
LogOff            436047754  0.414768
TGS                98992723  0.094162
TGT                38387292  0.036514
AuthMap             9570749  0.009104
ScreenLock            99551  0.000095
ScreenUnlock          94595  0.000090

Captured: 100.00%

### Authentication outcome

In [18]:
df_outcome_auth = df_category(df_auth, "outcome_auth")

In [19]:
_ = show_important_values(df_outcome_auth)

/home/hamelin/.local/share/virtualenvs/eai-graph-tools-G8DIyAcw/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                   count  propn
outcome_auth
Success       1038465969    1.0

Captured: 98.78%

No randomness here.

## dns

In [20]:
DatasetLANL.ELEMENT["dns"]

{'columns': [('time', 'int64'),
  ('computer_source', 'category'),
  ('computer_destination', 'category')]}

No weird categorical column to take care of.

## flows

In [21]:
DatasetLANL.ELEMENT["flows"]

{'columns': [('time', 'int64'),
  ('duration', 'int64'),
  ('computer_source', 'category'),
  ('port_source', 'category'),
  ('computer_destination', 'category'),
  ('port_destination', 'category'),
  ('protocol', 'category'),
  ('num_packets', 'int32'),
  ('num_bytes', 'int64')]}

In [22]:
df_flows = lanl.element("flows")

### Ports

In [23]:
df_port_source = df_category(df_flows, "port_source")
df_port_destination = df_category(df_flows, "port_destination")

In [24]:
df_src_eph_vs_num = show_important_values(df_port_source)

/home/hamelin/.local/share/virtualenvs/eai-graph-tools-G8DIyAcw/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                count     propn
port_source
445          15594632  0.126294
389           5169049  0.041862
80            3958274  0.032056
88            2989200  0.024208
137           2548210  0.020637
139           1834928  0.014860
135           1469556  0.011901
N2            1340311  0.010855
N1            1218477  0.009868
443            967850  0.007838
1433           741880  0.006008
N10            679945  0.005507
N3             649049  0.005256
N5             608701  0.004930
N4             539235  0.004367
N7             445172  0.003605
N17            412480  0.003340
N14            402286  0.003258
N6             389954  0.003158
N9             387863  0.003141
2049           373157  0.003022
N12            368239  0.002982
138            365478  0.002960
123            361301  0.002926
N13            348380  0.002821
N8             347908  0.002818
N15            336631  0.002726
N20            299742  0.002427
N16            287780  0.002331
N11            279836  0.002266
...               ...       ...
N21562            892  0.000007
N21666            892  0.000007
N20759            892  0.000007
N22058            891  0.000007
N21171            891  0.000007
N21830            891  0.000007
N19721            891  0.000007
N21087            891  0.000007
N20342            891  0.000007
N20935            891  0.000007
N21893            891  0.000007
N19452            891  0.000007
N21514            890  0.000007
N20849            890  0.000007
N21150            890  0.000007
N21038            890  0.000007
N21304            890  0.000007
N22094            890  0.000007
N21037            890  0.000007
N20557            890  0.000007
N20782            889  0.000007
N21160            889  0.000007
N20476            889  0.000007
N21098            889  0.000007
N20976            889  0.000007
N22661            889  0.000007
N20223            889  0.000007
N22229            889  0.000007
N21350            889  0.000007
N21615            889  0.000007

[21753 rows x 2 columns]

Captured: 95.00%

In [25]:
df_dest_eph_vs_num = show_important_values(df_port_destination)

/home/hamelin/.local/share/virtualenvs/eai-graph-tools-G8DIyAcw/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                     count     propn
port_destination
445               25912435  0.209852
80                 4811435  0.038966
389                3951978  0.032005
137                2562961  0.020756
139                2123849  0.017200
88                 2019214  0.016353
N2                 1281429  0.010378
N1                 1091415  0.008839
135                1002218  0.008116
443                 898289  0.007275
N10                 712994  0.005774
N3                  684663  0.005545
22                  652179  0.005282
N5                  590941  0.004786
N4                  491726  0.003982
N7                  464475  0.003762
N6                  414783  0.003359
N17                 389403  0.003154
N14                 387967  0.003142
N12                 376382  0.003048
138                 368393  0.002983
N9                  367790  0.002979
123                 361530  0.002928
2049                360818  0.002922
N8                  326488  0.002644
N13                 320888  0.002599
N15                 316628  0.002564
N16                 305619  0.002475
N11                 292416  0.002368
N20                 290273  0.002351
...                    ...       ...
N20171                 904  0.000007
N20420                 904  0.000007
N21014                 904  0.000007
N20657                 904  0.000007
N20770                 904  0.000007
N20390                 904  0.000007
N20432                 904  0.000007
N19302                 904  0.000007
N19904                 904  0.000007
N20301                 904  0.000007
N21047                 904  0.000007
N19380                 904  0.000007
N21225                 903  0.000007
N20087                 903  0.000007
N20709                 903  0.000007
N20962                 903  0.000007
N20047                 903  0.000007
N19745                 903  0.000007
N20944                 903  0.000007
N21689                 903  0.000007
N20102                 903  0.000007
N22362                 903  0.000007
N19803                 902  0.000007
N21390                 902  0.000007
N21138                 902  0.000007
N21042                 902  0.000007
N19310                 902  0.000007
N20520                 902  0.000007
N20862                 902  0.000007
N20324                 902  0.000007

[21191 rows x 2 columns]

Captured: 95.00%

In [26]:
df_src_eph_vs_num.groupby(lambda x: -1 if x.startswith("N") else int(x)) \
    .sum() \
    .sort_values("propn", ascending=False)

           count     propn
-1      85952443  0.696089
 445    15594632  0.126294
 389     5169049  0.041862
 80      3958274  0.032056
 88      2989200  0.024208
 137     2548210  0.020637
 139     1834928  0.014860
 135     1469556  0.011901
 443      967850  0.007838
 1433     741880  0.006008
 2049     373157  0.003022
 138      365478  0.002960
 123      361301  0.002926
 22       262422  0.002125
 111      233283  0.001889
 3306      52565  0.000426
 1241      41269  0.000334
 427       28091  0.000227
 8080      16544  0.000134
 1214      15976  0.000129
 7002      15878  0.000129
 6002      15835  0.000128
 1094      15749  0.000128
 2086      10675  0.000086
 1127      10666  0.000086
 1178      10405  0.000084
 1300       9543  0.000077
 1109       8552  0.000069
 1525       7897  0.000064
 3689       7496  0.000061
...          ...       ...
 25         1282  0.000010
 993        1259  0.000010
 777        1225  0.000010
 873        1200  0.000010
 990        1198  0.000010
 464        1170  0.000009
 765        1149  0.000009
 554        1096  0.000009
 783        1061  0.000009
 901        1060  0.000009
 110        1051  0.000009
 6000       1045  0.000008
 5060       1044  0.000008
 515        1039  0.000008
 21         1022  0.000008
 23         1005  0.000008
 113         993  0.000008
 750         985  0.000008
 751         973  0.000008
 636         973  0.000008
 143         948  0.000008
 631         924  0.000007
 79          912  0.000007
 514         909  0.000007
 512         904  0.000007
 7001        897  0.000007
 5666        895  0.000007
 444         893  0.000007
 10000       892  0.000007
 13783       892  0.000007

[151 rows x 2 columns]

In [27]:
df_dest_eph_vs_num.groupby(lambda x: -1 if x.startswith("N") else int(x)) \
    .sum() \
    .sort_values("propn", ascending=False)

           count     propn
-1      77184915  0.625084
 445    25912435  0.209852
 80      4811435  0.038966
 389     3951978  0.032005
 137     2562961  0.020756
 139     2123849  0.017200
 88      2019214  0.016353
 135     1002218  0.008116
 443      898289  0.007275
 22       652179  0.005282
 138      368393  0.002983
 123      361530  0.002928
 2049     360818  0.002922
 111      237231  0.001921
 161      181290  0.001468
 1433     126420  0.001024
 1241      58628  0.000475
 3306      36303  0.000294
 7002      16232  0.000131
 6002      16151  0.000131
 1094      16016  0.000130
 8080      15717  0.000127
 53        13357  0.000108
 427       12614  0.000102
 1214      10826  0.000088
 1178       9219  0.000075
 1109       8024  0.000065
 706        7890  0.000064
 1525       7826  0.000063
 2989       7362  0.000060
...          ...       ...
 5432       1207  0.000010
 8088       1205  0.000010
 113        1204  0.000010
 465        1196  0.000010
 6005       1195  0.000010
 10082      1186  0.000010
 70         1184  0.000010
 7000       1169  0.000009
 6006       1163  0.000009
 5269       1159  0.000009
 5051       1155  0.000009
 543        1148  0.000009
 5666       1146  0.000009
 9102       1139  0.000009
 143        1127  0.000009
 5060       1125  0.000009
 37         1124  0.000009
 106        1113  0.000009
 67         1110  0.000009
 13722      1108  0.000009
 177        1092  0.000009
 6003       1067  0.000009
 760        1057  0.000009
 775        1056  0.000009
 10081      1027  0.000008
 10080      1017  0.000008
 5353        967  0.000008
 754         959  0.000008
 989         935  0.000008
 871         910  0.000007

[212 rows x 2 columns]

The examination of the source and destination port distribution suggests that the flows of this dataset are unidirectional: a TCP communication would thus consist, for instance, of multiple flows. For the purpose of putting together a dataset excerpt, which would merely be used for unit testing, this is not terribly important.

### Protocol

In [28]:
df_protocol = df_category(df_flows, "protocol")

In [29]:
_ = show_important_values(df_protocol, 1.0)

/home/hamelin/.local/share/virtualenvs/eai-graph-tools-G8DIyAcw/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

              count     propn
protocol
6         116550579  0.896699
17         10104702  0.077742
1           3321625  0.025555
41              506  0.000004

Captured: 100.00%

### Duration

In [30]:
df_duration = df_integer(df_flows, "duration")

In [31]:
df_duration

             count         propn
duration
0         84217053  6.479361e-01
60         6610771  5.086092e-02
1          3737267  2.875320e-02
10         3198539  2.460842e-02
11         2710803  2.085595e-02
6          2155929  1.658695e-02
12         1830268  1.408143e-02
61         1681783  1.293904e-02
15         1636460  1.259034e-02
13         1232388  9.481555e-03
5          1220206  9.387831e-03
30         1174121  9.033270e-03
9          1139819  8.769362e-03
14         1134853  8.731156e-03
34         1113142  8.564119e-03
38         1084104  8.340711e-03
35          866762  6.668559e-03
2           766192  5.894809e-03
16          679706  5.229416e-03
4           629709  4.844757e-03
7           535558  4.120393e-03
3           526607  4.051527e-03
62          512042  3.939469e-03
36          487164  3.748067e-03
63          365805  2.814374e-03
37          358226  2.756063e-03
71          333635  2.566869e-03
31          331434  2.549935e-03
72          326504  2.512006e-03
32          316805  2.437385e-03
...            ...           ...
57          167315  1.287262e-03
20          163075  1.254641e-03
27          159947  1.230575e-03
40          159817  1.229575e-03
39          159632  1.228152e-03
22          154042  1.185144e-03
25          153556  1.181405e-03
51          148566  1.143014e-03
26          147624  1.135767e-03
45          141766  1.090697e-03
69          138794  1.067832e-03
66          138092  1.062431e-03
53          131365  1.010676e-03
28          129539  9.966270e-04
50          126756  9.752156e-04
41          121756  9.367474e-04
68          114731  8.826995e-04
47          110601  8.509248e-04
52          107092  8.239278e-04
44          103885  7.992543e-04
46          102647  7.897295e-04
67          102041  7.850672e-04
42           98017  7.541080e-04
43           97202  7.478376e-04
48           96168  7.398824e-04
49           89261  6.867424e-04
73             205  1.577197e-06
74              61  4.693123e-07
75              22  1.692602e-07
76               2  1.538729e-08

[77 rows x 2 columns]

In [32]:
df_duration.sort_index().groupby(lambda x: int(x/5)).sum()

       count         propn
0   89876828  6.914804e-01
1    5333526  4.103425e-02
2   10106851  7.775852e-02
3    2880869  2.216438e-02
4     898418  6.912109e-03
5     805279  6.195530e-03
6    3107382  2.390709e-02
7    2955888  2.274155e-02
8     580677  4.467522e-03
9     540443  4.157976e-03
10    689862  5.307553e-03
11   1189554  9.152006e-03
12   9418297  7.246103e-02
13    682404  5.250174e-03
14    911110  7.009756e-03
15        24  1.846475e-07

### num_packets

In [33]:
df_num_packets = df_integer(df_flows, "num_packets")
df_num_packets

                count         propn
num_packets
1            47486949  3.653477e-01
6            11364340  8.743319e-02
4            11300023  8.693836e-02
5             7234553  5.566008e-02
2             7054442  5.427437e-02
3             6053497  4.657345e-02
7             5085182  3.912358e-02
9             5039281  3.877044e-02
8             3309676  2.546347e-02
10            2360654  1.816203e-02
13            1796262  1.381980e-02
11            1769981  1.361760e-02
12            1761106  1.354932e-02
55            1285706  9.891765e-03
31            1188813  9.146305e-03
14             995642  7.660116e-03
15             953425  7.335313e-03
17             728348  5.603651e-03
32             440151  3.386365e-03
16             426360  3.280262e-03
20             424777  3.268083e-03
56             383176  2.948020e-03
18             365516  2.812150e-03
24             299833  2.306809e-03
23             277659  2.136210e-03
21             274506  2.111952e-03
224            252177  1.940160e-03
22             235724  1.813577e-03
19             231973  1.784718e-03
26             215323  1.656619e-03
...               ...           ...
148027              1  7.693644e-09
149917              1  7.693644e-09
135224              1  7.693644e-09
130768              1  7.693644e-09
113760              1  7.693644e-09
129217              1  7.693644e-09
114138              1  7.693644e-09
114818              1  7.693644e-09
116138              1  7.693644e-09
116257              1  7.693644e-09
116500              1  7.693644e-09
116606              1  7.693644e-09
116818              1  7.693644e-09
116969              1  7.693644e-09
117264              1  7.693644e-09
119144              1  7.693644e-09
120058              1  7.693644e-09
120943              1  7.693644e-09
121469              1  7.693644e-09
121947              1  7.693644e-09
123605              1  7.693644e-09
123795              1  7.693644e-09
123874              1  7.693644e-09
124916              1  7.693644e-09
125346              1  7.693644e-09
127949              1  7.693644e-09
128083              1  7.693644e-09
128302              1  7.693644e-09
128708              1  7.693644e-09
1385435             1  7.693644e-09

[104496 rows x 2 columns]

In [34]:
df_num_packets.sort_index().groupby(lambda x: int(x/10)).sum()

            count         propn
0       103927943  7.995846e-01
1        11389267  8.762497e-02
2         2305136  1.773490e-02
3         2514452  1.934530e-02
4          830649  6.390718e-03
5         2105116  1.619601e-02
6          485231  3.733195e-03
7          335679  2.582595e-03
8          309041  2.377652e-03
9          214429  1.649740e-03
10         243280  1.871710e-03
11         135436  1.041996e-03
12         145960  1.122964e-03
13         464689  3.575152e-03
14         137519  1.058022e-03
15          96022  7.387591e-04
16          70314  5.409709e-04
17          74628  5.741613e-04
18          68424  5.264299e-04
19          76971  5.921875e-04
20          84838  6.527134e-04
21         202575  1.558540e-03
22         557999  4.293046e-03
23          53844  4.142566e-04
24          41889  3.222791e-04
25          34786  2.676311e-04
26          46997  3.615782e-04
27          38010  2.924354e-04
28          40507  3.116465e-04
29          33140  2.549674e-04
...           ...           ...
220715          1  7.693644e-09
220729          1  7.693644e-09
220807          1  7.693644e-09
220823          1  7.693644e-09
220898          1  7.693644e-09
220901          1  7.693644e-09
220921          1  7.693644e-09
220944          1  7.693644e-09
220960          1  7.693644e-09
220978          1  7.693644e-09
220991          1  7.693644e-09
221007          1  7.693644e-09
221009          1  7.693644e-09
221013          1  7.693644e-09
221019          1  7.693644e-09
221046          1  7.693644e-09
221180          1  7.693644e-09
221451          1  7.693644e-09
221512          1  7.693644e-09
221603          1  7.693644e-09
221610          1  7.693644e-09
221649          1  7.693644e-09
221650          1  7.693644e-09
221663          1  7.693644e-09
221743          1  7.693644e-09
221989          1  7.693644e-09
222566          1  7.693644e-09
240783          1  7.693644e-09
244601          1  7.693644e-09
247118          1  7.693644e-09

[32525 rows x 2 columns]

### num_bytes

In [35]:
df_num_bytes = df_integer(df_flows, "num_bytes")
df_num_bytes

               count         propn
num_bytes
46          28658997  2.204921e-01
52           4919819  3.785134e-02
60           3968397  3.053144e-02
138          2842471  2.186896e-02
193          1813700  1.395396e-02
92           1792301  1.378933e-02
120          1662008  1.278690e-02
278          1361070  1.047159e-02
372          1258112  9.679466e-03
81064        1241499  9.551652e-03
376          1235244  9.503528e-03
1769         1110046  8.540299e-03
420           972333  7.480784e-03
430           893437  6.873787e-03
1653          700892  5.392414e-03
429           693443  5.335104e-03
64            672601  5.174753e-03
76            659667  5.075243e-03
186           658058  5.062864e-03
156           597367  4.595929e-03
108           595067  4.578234e-03
152           562801  4.329991e-03
452           529125  4.070900e-03
195           526410  4.050011e-03
144           509439  3.919443e-03
414           508393  3.911395e-03
2418          481742  3.706352e-03
413           479008  3.685317e-03
192           473997  3.646764e-03
1223          460262  3.541092e-03
...              ...           ...
1198387            1  7.693644e-09
1198638            1  7.693644e-09
1199163            1  7.693644e-09
1199266            1  7.693644e-09
1199867            1  7.693644e-09
1194098            1  7.693644e-09
1192983            1  7.693644e-09
1189791            1  7.693644e-09
1190935            1  7.693644e-09
1189983            1  7.693644e-09
1190013            1  7.693644e-09
1190239            1  7.693644e-09
1190294            1  7.693644e-09
1190332            1  7.693644e-09
1190340            1  7.693644e-09
1190579            1  7.693644e-09
1190593            1  7.693644e-09
1190811            1  7.693644e-09
1191259            1  7.693644e-09
1192427            1  7.693644e-09
1191925            1  7.693644e-09
1191953            1  7.693644e-09
1192110            1  7.693644e-09
1192146            1  7.693644e-09
1192193            1  7.693644e-09
1192199            1  7.693644e-09
1192234            1  7.693644e-09
1192285            1  7.693644e-09
1192327            1  7.693644e-09
1914097672         1  7.693644e-09

[1164343 rows x 2 columns]

In [36]:
def mapping(n):
    for p, d in [(10, "KB"), (16, "64K"), (20, "MB"), (22, "4M"), (27, "128M"), (30, "GB"), (32, "4G")]:
        if n <= (1 << p):
            return d
    return "inf"
df_num_bytes.sort_index().groupby(mapping).sum().sort_values("count", ascending=False)

         count     propn
KB    82604397  0.635529
64K   42155827  0.324332
MB     4400058  0.033852
128M    441922  0.003400
4M      352725  0.002714
GB       19517  0.000150
4G        2966  0.000023

## proc

In [37]:
DatasetLANL.ELEMENT["proc"]

{'columns': [('time', 'int64'),
  ('userdomain_source', 'category'),
  ('computer_destination', 'category'),
  ('name_process', 'category'),
  ('status_process', 'category')]}

In [38]:
df_proc = lanl.element("proc")

### status_process

In [39]:
df_status_process = df_category(df_proc, "status_process")

In [40]:
_ = show_important_values(df_status_process)

/home/hamelin/.local/share/virtualenvs/eai-graph-tools-G8DIyAcw/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

                    count     propn
status_process
Start           335842571  0.788279
End              90202525  0.211721

Captured: 100.00%

# Generating a LANL-like small dataset

## How many samples of each element?

In [41]:
num_rows = dict((name, len(lanl.element(name))) for name in lanl.name_elements())
num_rows

{'auth': 1051305367, 'proc': 426045096, 'flows': 129977412, 'dns': 40821591}

In [42]:
total_events = sum(num_rows.values())

In [43]:
num_samples = 40
dict((e, int(num_samples * n / total_events)) for e,n in num_rows.items())

{'auth': 25, 'proc': 10, 'flows': 3, 'dns': 0}

In [44]:
num_sp_elem = {
    "proc": 10,
    "flows": 5,
    "dns": 3
}
num_sp_elem["auth"] = num_samples - sum(num_sp_elem.values())
num_sp_elem

{'proc': 10, 'flows': 5, 'dns': 3, 'auth': 22}

## Sampling normal columns

In [45]:
def sampler_list(ls):
    return lambda n: [random.choice(ls) for _ in range(n)]

In [46]:
def sampler_df(df):
    if "propn" in df.columns:
        weights = list(df['propn'])
    elif "count" in df.columns:
        weights = list(df['count'] / df['count'].sum())
    else:
        raise RuntimeError("Neither propn nor count")
    return lambda n: random.choices(list(df.index), weights=weights, k=n)

In [47]:
def sampler_interval(min_intv, max_intv):
    return lambda n: [random.randint(min_intv, max_intv) for _ in range(n)]

In [48]:
def sampler_distribution(ls, weights):
    return lambda n: [random.choices(ls, weights=weights) for _ in range(n)]

In [49]:
sampler_columns = {
    "time": sampler_interval(0, WIDTH_INTV_TIME * NUM_INTV),
    "userdomain_source": sampler_list(USERS),
    "userdomain_destination": sampler_list(USERS),
    "computer_source": sampler_list(COMPUTERS),
    "computer_destination": sampler_list(COMPUTERS),
    "type_auth": sampler_df(df_type_auth),
    "type_logon": sampler_df(df_type_logon),
    "orientation_auth": sampler_df(df_orientation_auth),
    "outcome_auth": sampler_df(df_outcome_auth),
    "name_process": sampler_list(PROCESSES),
    "status_process": sampler_df(df_status_process),
    "duration": sampler_df(df_duration),
    "port_source": sampler_df(df_port_source),
    "port_destination": sampler_df(df_port_destination),
    "protocol": sampler_df(df_protocol),
    "num_packets": sampler_df(df_num_packets),
    "num_bytes": sampler_df(df_num_bytes)
}

In [50]:
def sample_element(name, n):
    return pd.DataFrame(
        dict((col, sampler_columns[col](n)) for col, _ in DatasetLANL.ELEMENT[name]["columns"])
    ).set_index("time").sort_index()

In [51]:
def join_lanl_samples(*p):
    return os.path.join("..", "tests", "test_data", "lanl", *p)

In [52]:
random.seed("12349876")
df_samples = {}
for name, n in num_sp_elem.items():
    df_samples[name] = sample_element(name, n)
    display(df_samples[name])
    df_samples[name].to_csv(join_lanl_samples(name + ".txt"), header=False)

     userdomain_source computer_destination name_process status_process
time
143         USER3@DOM1                   C3           P3          Start
168         USER2@DOM1                   C2           P4          Start
199         USER2@DOM1                   C4           P5          Start
199         USER3@DOM1                   C3           P6            End
220         USER1@DOM1                   C1           P3          Start
312         USER1@DOM1                   C3           P7          Start
334         USER1@DOM1                   C3           P1          Start
344         USER2@DOM1                   C1           P3          Start
421         USER1@DOM1                   C4           P7          Start
481         USER1@DOM1                   C4           P3          Start

,duration,computer_source,port_source,computer_destination,port_destination,protocol,num_packets,num_bytes
time,,,,,,,,
29,0,C4,N113,C5,N8579,6,9,2694
195,65,C2,N131,C3,80,17,1,663
250,0,C5,N32369,C1,N386,6,1,46
281,0,C5,N12,C2,N4,6,155,416288
295,1,C5,445,C4,N63,6,3,190

     computer_source computer_destination
time
305               C1                   C3
461               C3                   C2
495               C1                   C5

,userdomain_source,userdomain_destination,computer_source,computer_destination,type_auth,type_logon,orientation_auth,outcome_auth
time,,,,,,,,
27,USER1@DOM1,USER1@DOM1,C1,C1,Negotiate,Network,TGS,Success
53,USER3@DOM1,USER1@DOM1,C3,C5,Kerberos,Network,LogOn,Success
57,USER2@DOM1,USER2@DOM1,C1,C5,?,Network,LogOn,Success
77,USER3@DOM1,USER2@DOM1,C3,C2,Kerberos,Network,LogOn,Success
132,USER3@DOM1,USER2@DOM1,C2,C1,?,Network,LogOn,Success
139,USER3@DOM1,USER3@DOM1,C5,C1,?,Network,LogOff,Success
178,USER2@DOM1,USER3@DOM1,C5,C1,?,?,LogOff,Success
191,USER2@DOM1,USER2@DOM1,C1,C5,?,Network,LogOn,Success
193,USER2@DOM1,USER2@DOM1,C4,C2,?,Network,TGS,Success
220,USER1@DOM1,USER3@DOM1,C2,C5,?,Network,TGT,Success
257,USER1@DOM1,USER2@DOM1,C1,C5,?,Network,LogOn,Success
261,USER2@DOM1,USER3@DOM1,C1,C5,Kerberos,Network,TGS,Success
278,USER3@DOM1,USER2@DOM1,C2,C1,?,Network,LogOn,Success
279,USER2@DOM1,USER3@DOM1,C4,C5,Kerberos,Network,TGT,Success
292,USER3@DOM1,USER3@DOM1,C3,C3,Kerberos,?,LogOn,Success
297,USER1@DOM1,USER1@DOM1,C5,C5,?,?,LogOff,Success
325,USER2@DOM1,USER3@DOM1,C4,C1,?,Network,TGS,Success
326,USER3@DOM1,USER3@DOM1,C4,C1,Kerberos,Network,LogOn,Success
329,USER2@DOM1,USER2@DOM1,C4,C2,Kerberos,?,LogOn,Success
449,USER1@DOM1,USER1@DOM1,C2,C4,Kerberos,Network,LogOn,Success
463,USER1@DOM1,USER2@DOM1,C1,C2,?,Network,LogOn,Success
497,USER3@DOM1,USER3@DOM1,C1,C1,Kerberos,Network,LogOn,Success

## Sampling label columns

In [53]:
NUM_AUTH_RECORDS_ATTACK = 3

In [54]:
df_redteam = df_samples["auth"][df_samples["auth"].orientation_auth == "LogOn"] \
    .sample(n=3) \
    .sort_index() \
    .drop(["userdomain_destination", "type_auth", "type_logon", "orientation_auth", "outcome_auth"], axis="columns")
df_redteam

     userdomain_source computer_source computer_destination
time
278         USER3@DOM1              C2                   C1
326         USER3@DOM1              C4                   C1
329         USER2@DOM1              C4                   C2

In [55]:
df_redteam.to_csv(join_lanl_samples("redteam.txt"), header=False)

In [56]:
df_redteam

     userdomain_source computer_source computer_destination
time
278         USER3@DOM1              C2                   C1
326         USER3@DOM1              C4                   C1
329         USER2@DOM1              C4                   C2

In [57]:
df_samples["auth"]

,userdomain_source,userdomain_destination,computer_source,computer_destination,type_auth,type_logon,orientation_auth,outcome_auth
time,,,,,,,,
27,USER1@DOM1,USER1@DOM1,C1,C1,Negotiate,Network,TGS,Success
53,USER3@DOM1,USER1@DOM1,C3,C5,Kerberos,Network,LogOn,Success
57,USER2@DOM1,USER2@DOM1,C1,C5,?,Network,LogOn,Success
77,USER3@DOM1,USER2@DOM1,C3,C2,Kerberos,Network,LogOn,Success
132,USER3@DOM1,USER2@DOM1,C2,C1,?,Network,LogOn,Success
139,USER3@DOM1,USER3@DOM1,C5,C1,?,Network,LogOff,Success
178,USER2@DOM1,USER3@DOM1,C5,C1,?,?,LogOff,Success
191,USER2@DOM1,USER2@DOM1,C1,C5,?,Network,LogOn,Success
193,USER2@DOM1,USER2@DOM1,C4,C2,?,Network,TGS,Success
220,USER1@DOM1,USER3@DOM1,C2,C5,?,Network,TGT,Success
257,USER1@DOM1,USER2@DOM1,C1,C5,?,Network,LogOn,Success
261,USER2@DOM1,USER3@DOM1,C1,C5,Kerberos,Network,TGS,Success
278,USER3@DOM1,USER2@DOM1,C2,C1,?,Network,LogOn,Success
279,USER2@DOM1,USER3@DOM1,C4,C5,Kerberos,Network,TGT,Success
292,USER3@DOM1,USER3@DOM1,C3,C3,Kerberos,?,LogOn,Success
297,USER1@DOM1,USER1@DOM1,C5,C5,?,?,LogOff,Success
325,USER2@DOM1,USER3@DOM1,C4,C1,?,Network,TGS,Success
326,USER3@DOM1,USER3@DOM1,C4,C1,Kerberos,Network,LogOn,Success
329,USER2@DOM1,USER2@DOM1,C4,C2,Kerberos,?,LogOn,Success
449,USER1@DOM1,USER1@DOM1,C2,C4,Kerberos,Network,LogOn,Success
463,USER1@DOM1,USER2@DOM1,C1,C2,?,Network,LogOn,Success
497,USER3@DOM1,USER3@DOM1,C1,C1,Kerberos,Network,LogOn,Success

In [58]:
df_auth_labeled = df_samples["auth"].merge(df_redteam, how="left", on=list(df_redteam.reset_index().columns), indicator=True)
df_auth_labeled["is_attack"] = (df_auth_labeled._merge != "left_only")
df_auth_labeled = df_auth_labeled.drop("_merge", axis="columns")
df_auth_labeled

,userdomain_source,userdomain_destination,computer_source,computer_destination,type_auth,type_logon,orientation_auth,outcome_auth,is_attack
time,,,,,,,,,
27,USER1@DOM1,USER1@DOM1,C1,C1,Negotiate,Network,TGS,Success,False
53,USER3@DOM1,USER1@DOM1,C3,C5,Kerberos,Network,LogOn,Success,False
57,USER2@DOM1,USER2@DOM1,C1,C5,?,Network,LogOn,Success,False
77,USER3@DOM1,USER2@DOM1,C3,C2,Kerberos,Network,LogOn,Success,False
132,USER3@DOM1,USER2@DOM1,C2,C1,?,Network,LogOn,Success,False
139,USER3@DOM1,USER3@DOM1,C5,C1,?,Network,LogOff,Success,False
178,USER2@DOM1,USER3@DOM1,C5,C1,?,?,LogOff,Success,False
191,USER2@DOM1,USER2@DOM1,C1,C5,?,Network,LogOn,Success,False
193,USER2@DOM1,USER2@DOM1,C4,C2,?,Network,TGS,Success,False
220,USER1@DOM1,USER3@DOM1,C2,C5,?,Network,TGT,Success,False
257,USER1@DOM1,USER2@DOM1,C1,C5,?,Network,LogOn,Success,False
261,USER2@DOM1,USER3@DOM1,C1,C5,Kerberos,Network,TGS,Success,False
278,USER3@DOM1,USER2@DOM1,C2,C1,?,Network,LogOn,Success,True
279,USER2@DOM1,USER3@DOM1,C4,C5,Kerberos,Network,TGT,Success,False
292,USER3@DOM1,USER3@DOM1,C3,C3,Kerberos,?,LogOn,Success,False
297,USER1@DOM1,USER1@DOM1,C5,C5,?,?,LogOff,Success,False
325,USER2@DOM1,USER3@DOM1,C4,C1,?,Network,TGS,Success,False
326,USER3@DOM1,USER3@DOM1,C4,C1,Kerberos,Network,LogOn,Success,True
329,USER2@DOM1,USER2@DOM1,C4,C2,Kerberos,?,LogOn,Success,True
449,USER1@DOM1,USER1@DOM1,C2,C4,Kerberos,Network,LogOn,Success,False
463,USER1@DOM1,USER2@DOM1,C1,C2,?,Network,LogOn,Success,False
497,USER3@DOM1,USER3@DOM1,C1,C1,Kerberos,Network,LogOn,Success,False

In [59]:
df_auth_labeled.to_csv(join_lanl_samples("auth.txt.labeled"), header=False)

# Clean-up

In [60]:
client.close()
cluster.close()